.cobertura {
  padding: 40px 20px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.cobertura h2 {
  font-size: 2rem;
  color: #000000;
}

.cobertura span {
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  padding: 0.4rem 0.8rem;
  margin: 0.4rem;
  border-radius: 5px;
  font-weight: bold;
}