.info {
  padding: 40px 20px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}
.info h2 {
  font-size: 2rem;
  color: #ffffff;
}

.info ul {
  list-style: none;
  padding-left: 0;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.8;
}

.info li {
  margin-bottom: 15px;
}

.zona {
  list-style: disc;
  margin-top: 10px;
  margin-left: 20px;
}

.info a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.info a:hover {
  text-decoration: underline;
}